body {
  font-family: 'Roboto', sans-serif;
	background-color: #eee;
	color: #222;
	text-align: center;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 48px;
  font-weight: 900;
	text-transform: capitalize;
	margin: 24px auto;
  font-family: 'Fredoka One', cursive;
}

.game-row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 24px auto;
  gap: 24px;
}

.game-col {
	min-width: 225px;
}

h2 {
	font-size: 32px;
  font-weight: 700;
	margin: 12px auto;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	border: 4px solid #222;
	border-radius: 10px;
}

.selection {
	font-size: 16px;
	margin: 12px auto;
}

#rules {
	font-size: 24px;
	margin: 12px auto;
}

#reset {
	display: none;
	border: 4px solid #222;
	border-radius: 10px;
	padding: 12px;
	margin: 24px auto;
	font-size: 16px;
  font-weight: 700;
	min-width: 200px;
	background-color: #ddd;
	align-items: center;
	justify-content: center;
  transition: .3s;
}

#reset:hover {
	cursor: pointer;
	background-color: #fff;
}

.choices-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px auto;
  gap: 24px;
	
}

.choice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 120px;
	border: 4px solid #000;
	border-radius: 50%;
	background-color: #ddd;
}

.choice img {
	width: 80%;
  transition: .3s;
}

.choice:hover {
	cursor: pointer;
	background-color: #fff;
}